{% extends 'base.html.twig' %}

 {% block body %}

     <div>
         <h1>Real article s title : {{ article.title }}</h1>
         <h2>Category : {{ article.categorys.name }}</h2>
         <p>{{ article.content }}</p>
     </div>

     <a href="{{ path('blog_index') }}">
         Testing index() method from BlogController to view all articles.
     </a>

 {% endblock %}
